.about {
  p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  span {
    @include text-style;
    font-weight: 500;
  }
}